/* global styles */
* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'segoe ui';
}
body {
    background-color: #385170;
}
/*the nav block at the top */
.navbar {
    width: 100%;
    padding-left: 20px;
    height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #9fd3c7;
    justify-content: space-around;
}
/* the moviezco title thing there */
.nav-title h2 {
    color: #fff;
    font-size: 1.5rem;
}
/* hamburger menu not displayed when on computer (if you open dev tools and make the page smaller you should be able to see it) */
.hamburgerMenu {
    display: none;
}
/* the <a> tags stuff*/
.links {
    font-size: 18px;
}
/* what the a tag looks like */
.links a {
    color: #fff;
    text-decoration: none;
    padding: 13px 10px 13px 10px;
}
/* hover changes color */ 
.links a:hover {
    background-color: #385170;
}
/* hamburger menu not displayed when on computer */
#hamburger {
    display: none;
}
/* Media query for a hamburger menu for mobile devices */
@media (max-width:600px) {
    .navbar {
        justify-content: space-between;
    }

    .hamburgerMenu {
        display: block;
        margin-right: 20px;
    }
/* the looks of the menu */
    .hamburgerMenu label {
        display: inline-block;
        cursor: pointer;
        padding: 13px;
        height: 50px;
        width: 50px;
    }

/*  when hover over it changes to background menu to that color  */
    .hamburgerMenu label:hover,
    .navbar #hamburger:checked~.hamburgerMenu>label {
        background-color: #385170;
    }

/* the label for the hamburger menu */
    .hamburgerMenu label div {
        border-top: 2px solid #fff;
        display: block;
        height: 10px;
        width: 25px;
    }

/* Links displayed when hovered over the hamburger menu  */
    .links {
        border-top: #385170;
        background-color: #385170;
        transition: all 0.3s;
        overflow-y: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        top: 50px;
        left: 0px;
    }

/* so the links work in the hamburger menu */
    .links a {
        display: block;
        width: 100%;
    }

/* when not checked the links have height of 0px */
    #hamburger:not(:checked)~.links {
        height: 0px;
    }

/* when it is checked it will have almost full height of the viewport minus 50ox so you can see it yk */
    #hamburger:checked~.links {
        height: calc(100vh - 50px);
    }
}

/* this is just the shit for the marquee */
.Movies {
    color: #9fd3c7;
    font: bolder;
}


